In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from pathlib import Path
from zipfile import ZipFile

In [3]:
!pwd

/home/tpb/catalyst/pudl/notebooks/work-in-progress/fuel-price-imputation

In [4]:
zip_dir = Path('./eia_epm_zips/')
assert zip_dir.exists()

In [202]:
list(zip_dir.glob('*.zip'))

[PosixPath('eia_epm_zips/june2017.zip'),
 PosixPath('eia_epm_zips/april2013.zip'),
 PosixPath('eia_epm_zips/march2017.zip'),
 PosixPath('eia_epm_zips/february2012.zip'),
 PosixPath('eia_epm_zips/september2013.zip'),
 PosixPath('eia_epm_zips/june2020.zip'),
 PosixPath('eia_epm_zips/april2016.zip'),
 PosixPath('eia_epm_zips/epm1210.zip'),
 PosixPath('eia_epm_zips/epm0710.zip'),
 PosixPath('eia_epm_zips/august2013.zip'),
 PosixPath('eia_epm_zips/march2020.zip'),
 PosixPath('eia_epm_zips/epm0108.zip'),
 PosixPath('eia_epm_zips/december2014.zip'),
 PosixPath('eia_epm_zips/june2013.zip'),
 PosixPath('eia_epm_zips/november2018.zip'),
 PosixPath('eia_epm_zips/march2014.zip'),
 PosixPath('eia_epm_zips/april2015.zip'),
 PosixPath('eia_epm_zips/september2016.zip'),
 PosixPath('eia_epm_zips/epm1209.zip'),
 PosixPath('eia_epm_zips/october2012.zip'),
 PosixPath('eia_epm_zips/july2020.zip'),
 PosixPath('eia_epm_zips/january2011.zip'),
 PosixPath('eia_epm_zips/epm0708.zip'),
 PosixPath('eia_epm_zips/november2020.zip'),
 PosixPath('eia_epm_zips/may2015.zip'),
 PosixPath('eia_epm_zips/september2019.zip'),
 PosixPath('eia_epm_zips/epm0409.zip'),
 PosixPath('eia_epm_zips/november2017.zip'),
 PosixPath('eia_epm_zips/august2014.zip'),
 PosixPath('eia_epm_zips/january2017.zip'),
 PosixPath('eia_epm_zips/epm0709.zip'),
 PosixPath('eia_epm_zips/february2021.zip'),
 PosixPath('eia_epm_zips/epm0508.zip'),
 PosixPath('eia_epm_zips/epm0310.zip'),
 PosixPath('eia_epm_zips/july2011.zip'),
 PosixPath('eia_epm_zips/december2019.zip'),
 PosixPath('eia_epm_zips/march2021.zip'),
 PosixPath('eia_epm_zips/november2013.zip'),
 PosixPath('eia_epm_zips/epm0910.zip'),
 PosixPath('eia_epm_zips/december2013.zip'),
 PosixPath('eia_epm_zips/august2019.zip'),
 PosixPath('eia_epm_zips/june2018.zip'),
 PosixPath('eia_epm_zips/may2018.zip'),
 PosixPath('eia_epm_zips/october2020.zip'),
 PosixPath('eia_epm_zips/august2015.zip'),
 PosixPath('eia_epm_zips/january2021.zip'),
 PosixPath('eia_epm_zips/february2016.zip'),
 PosixPath('eia_epm_zips/november2021.zip'),
 PosixPath('eia_epm_zips/february2017.zip'),
 PosixPath('eia_epm_zips/epm0309.zip'),
 PosixPath('eia_epm_zips/epm0308.zip'),
 PosixPath('eia_epm_zips/january2014.zip'),
 PosixPath('eia_epm_zips/may2021.zip'),
 PosixPath('eia_epm_zips/january2015.zip'),
 PosixPath('eia_epm_zips/december2020.zip'),
 PosixPath('eia_epm_zips/june2016.zip'),
 PosixPath('eia_epm_zips/may2012.zip'),
 PosixPath('eia_epm_zips/august2020.zip'),
 PosixPath('eia_epm_zips/july2012.zip'),
 PosixPath('eia_epm_zips/epm0410.zip'),
 PosixPath('eia_epm_zips/february2018.zip'),
 PosixPath('eia_epm_zips/october2015.zip'),
 PosixPath('eia_epm_zips/september2015.zip'),
 PosixPath('eia_epm_zips/february2015.zip'),
 PosixPath('eia_epm_zips/january2020.zip'),
 PosixPath('eia_epm_zips/september2018.zip'),
 PosixPath('eia_epm_zips/december2018.zip'),
 PosixPath('eia_epm_zips/july2014.zip'),
 PosixPath('eia_epm_zips/epm1109.zip'),
 PosixPath('eia_epm_zips/march2019.zip'),
 PosixPath('eia_epm_zips/december2016.zip'),
 PosixPath('eia_epm_zips/epm1208.zip'),
 PosixPath('eia_epm_zips/november2012.zip'),
 PosixPath('eia_epm_zips/epm0608.zip'),
 PosixPath('eia_epm_zips/epm0210.zip'),
 PosixPath('eia_epm_zips/december2017.zip'),
 PosixPath('eia_epm_zips/may2014.zip'),
 PosixPath('eia_epm_zips/epm1108.zip'),
 PosixPath('eia_epm_zips/april2017.zip'),
 PosixPath('eia_epm_zips/august2018.zip'),
 PosixPath('eia_epm_zips/march2011.zip'),
 PosixPath('eia_epm_zips/epm0110.zip'),
 PosixPath('eia_epm_zips/october2017.zip'),
 PosixPath('eia_epm_zips/march2015.zip'),
 PosixPath('eia_epm_zips/june2019.zip'),
 PosixPath('eia_epm_zips/april2011.zip'),
 PosixPath('eia_epm_zips/january2019.zip'),
 PosixPath('eia_epm_zips/epm0609.zip'),
 PosixPath('eia_epm_zips/epm0510.zip'),
 PosixPath('eia_epm_zips/january2018.zip'),
 PosixPath('eia_epm_zips/september2012.zip'),
 PosixPath('eia_epm_zips/october2013.zip'),
 PosixPath('eia_epm_zips/epm0810.zip'),
 PosixPath('eia_epm_zips/epm1110.zip'),
 PosixPath('eia_epm_zips/october2011.zip'),
 PosixPath('eia_epm_zips/april2012.zip'),
 PosixPath('eia_epm_zips/february2020.zip'),
 PosixPath('eia_epm_zips/february2022.zip'),
 PosixPath('eia_epm_zips/april2014.zip'),
 PosixPath('eia_epm_zips/september2017.zip'),
 PosixPath('eia_epm_zips/july2013.zip'),
 PosixPath('eia_epm_zips/october2019.zip'),
 PosixPath('eia_epm_zips/october2018.zip'),
 PosixPath('eia_epm_zips/epm1008.zip'),
 PosixPath('eia_epm_zips/december2011.zip'),
 PosixPath('eia_epm_zips/july2021.zip'),
 PosixPath('eia_epm_zips/july2017.zip'),
 PosixPath('eia_epm_zips/february2019.zip'),
 PosixPath('eia_epm_zips/epm0208.zip'),
 PosixPath('eia_epm_zips/august2011.zip'),
 PosixPath('eia_epm_zips/august2021.zip'),
 PosixPath('eia_epm_zips/epm0509.zip'),
 PosixPath('eia_epm_zips/october2021.zip'),
 PosixPath('eia_epm_zips/june2014.zip'),
 PosixPath('eia_epm_zips/february2014.zip'),
 PosixPath('eia_epm_zips/november2014.zip'),
 PosixPath('eia_epm_zips/october2016.zip'),
 PosixPath('eia_epm_zips/march2012.zip'),
 PosixPath('eia_epm_zips/april2018.zip'),
 PosixPath('eia_epm_zips/january2016.zip'),
 PosixPath('eia_epm_zips/may2017.zip'),
 PosixPath('eia_epm_zips/epm0808.zip'),
 PosixPath('eia_epm_zips/november2015.zip'),
 PosixPath('eia_epm_zips/may2020.zip'),
 PosixPath('eia_epm_zips/september2011.zip'),
 PosixPath('eia_epm_zips/january2012.zip'),
 PosixPath('eia_epm_zips/january2022.zip'),
 PosixPath('eia_epm_zips/november2016.zip'),
 PosixPath('eia_epm_zips/june2015.zip'),
 PosixPath('eia_epm_zips/june2021.zip'),
 PosixPath('eia_epm_zips/epm0610.zip'),
 PosixPath('eia_epm_zips/january2013.zip'),
 PosixPath('eia_epm_zips/september2014.zip'),
 PosixPath('eia_epm_zips/epm0809.zip'),
 PosixPath('eia_epm_zips/april2021.zip'),
 PosixPath('eia_epm_zips/may2011.zip'),
 PosixPath('eia_epm_zips/epm1010.zip'),
 PosixPath('eia_epm_zips/august2012.zip'),
 PosixPath('eia_epm_zips/december2015.zip'),
 PosixPath('eia_epm_zips/march2016.zip'),
 PosixPath('eia_epm_zips/march2018.zip'),
 PosixPath('eia_epm_zips/february2013.zip'),
 PosixPath('eia_epm_zips/august2016.zip'),
 PosixPath('eia_epm_zips/july2019.zip'),
 PosixPath('eia_epm_zips/epm0908.zip'),
 PosixPath('eia_epm_zips/june2011.zip'),
 PosixPath('eia_epm_zips/september2021.zip'),
 PosixPath('eia_epm_zips/october2014.zip'),
 PosixPath('eia_epm_zips/april2020.zip'),
 PosixPath('eia_epm_zips/february2011.zip'),
 PosixPath('eia_epm_zips/epm0909.zip'),
 PosixPath('eia_epm_zips/march2013.zip'),
 PosixPath('eia_epm_zips/may2016.zip'),
 PosixPath('eia_epm_zips/november2019.zip'),
 PosixPath('eia_epm_zips/september2020.zip'),
 PosixPath('eia_epm_zips/december2012.zip'),
 PosixPath('eia_epm_zips/epm0109.zip'),
 PosixPath('eia_epm_zips/june2012.zip'),
 PosixPath('eia_epm_zips/epm0209.zip'),
 PosixPath('eia_epm_zips/july2016.zip'),
 PosixPath('eia_epm_zips/august2017.zip'),
 PosixPath('eia_epm_zips/july2018.zip'),
 PosixPath('eia_epm_zips/november2011.zip'),
 PosixPath('eia_epm_zips/may2019.zip'),
 PosixPath('eia_epm_zips/may2013.zip'),
 PosixPath('eia_epm_zips/april2019.zip'),
 PosixPath('eia_epm_zips/july2015.zip'),
 PosixPath('eia_epm_zips/december2021.zip'),
 PosixPath('eia_epm_zips/epm1009.zip'),
 PosixPath('eia_epm_zips/epm0408.zip')]

In [232]:
zipf = ZipFile(zip_dir / 'epm0108.zip')

In [219]:
zipf = ZipFile(zip_dir / 'ALTERED_june2016.zip')

In [223]:
zipf = ZipFile(zip_dir / 'february2019.zip')

In [126]:
zipf = ZipFile(zip_dir / 'december2020.zip')

In [233]:
zipf.filelist

[<ZipInfo filename='epmxlfilees4.xls' compress_type=deflate external_attr=0x20 file_size=61952 compress_size=17642>,
 <ZipInfo filename='epmxlfile1_1.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6687>,
 <ZipInfo filename='epmxlfile1_1_a.xls' compress_type=deflate external_attr=0x20 file_size=20992 compress_size=4636>,
 <ZipInfo filename='epmxlfile1_2.xls' compress_type=deflate external_attr=0x20 file_size=25088 compress_size=6715>,
 <ZipInfo filename='epmxlfile1_3.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=6364>,
 <ZipInfo filename='epmxlfile1_4.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6379>,
 <ZipInfo filename='epmxlfile1_5.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6427>,
 <ZipInfo filename='epmxlfile1_6_a.xls' compress_type=deflate external_attr=0x20 file_size=25088 compress_size=6706>,
 <ZipInfo filename='epmxlfile1_6_b.xls' compress_type=deflate external_attr=0x20 file_size=24576 compress_size=6880>,
 <ZipInfo filename='epmxlfile1_7_a.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6603>,
 <ZipInfo filename='epmxlfile1_7_b.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6898>,
 <ZipInfo filename='epmxlfile1_8_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=6596>,
 <ZipInfo filename='epmxlfile1_8_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6807>,
 <ZipInfo filename='epmxlfile1_9_a.xls' compress_type=deflate external_attr=0x20 file_size=28672 compress_size=6168>,
 <ZipInfo filename='epmxlfile1_9_b.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6132>,
 <ZipInfo filename='epmxlfile1_10_a.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6869>,
 <ZipInfo filename='epmxlfile1_10_b.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=7049>,
 <ZipInfo filename='epmxlfile1_11_a.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6426>,
 <ZipInfo filename='epmxlfile1_11_b.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6541>,
 <ZipInfo filename='epmxlfile1_12_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=5956>,
 <ZipInfo filename='epmxlfile1_12_b.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=6011>,
 <ZipInfo filename='epmxlfile1_13_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=6557>,
 <ZipInfo filename='epmxlfile1_13_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6633>,
 <ZipInfo filename='epmxlfile1_14_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=6804>,
 <ZipInfo filename='epmxlfile1_14_b.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=7117>,
 <ZipInfo filename='epmxlfile1_15_a.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=5938>,
 <ZipInfo filename='epmxlfile1_15_b.xls' compress_type=deflate external_attr=0x20 file_size=27648 compress_size=5777>,
 <ZipInfo filename='epmxlfile1_16_a.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6613>,
 <ZipInfo filename='epmxlfile1_16_b.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6874>,
 <ZipInfo filename='epmxlfile2_1_a.xls' compress_type=deflate external_attr=0x20 file_size=19968 compress_size=4261>,
 <ZipInfo filename='epmxlfile2_1_b.xls' compress_type=deflate external_attr=0x20 file_size=20992 compress_size=4377>,
 <ZipInfo filename='epmxlfile2_1_c.xls' compress_type=deflate external_attr=0x20 file_size=19968 compress_size=4364>,
 <ZipInfo filename='epmxlfile2_2_a.xls' compress_type=deflate external_attr=0x20 file_size=19968 compress_size=4340>,
 <ZipInfo filename='epmxlfile2_2_b.xls' compress_type=deflate external_attr=0x20 file_size=20992 compress_size=4417>,
 <ZipInfo filename='epmxlfile2_2_c.xls' compress_type=deflate external_attr=0x20 file_size=19968 compress_size=4385>,
 <ZipInfo filename='epmxlfile2_3_a.xls' compress_type=deflate external_attr=0x20 file_size=20480 compress_size=4330>,
 <ZipInfo filename='epmxlfile2_3_b.xls' compress_type=deflate external_attr=0x20 file_size=21504 compress_size=4365>,
 <ZipInfo filename='epmxlfile2_3_c.xls' compress_type=deflate external_attr=0x20 file_size=20480 compress_size=4318>,
 <ZipInfo filename='epmxlfile2_4_a.xls' compress_type=deflate external_attr=0x20 file_size=19968 compress_size=4438>,
 <ZipInfo filename='epmxlfile2_4_b.xls' compress_type=deflate external_attr=0x20 file_size=20992 compress_size=4564>,
 <ZipInfo filename='epmxlfile2_4_c.xls' compress_type=deflate external_attr=0x20 file_size=19968 compress_size=4524>,
 <ZipInfo filename='epmxlfile2_5_a.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6700>,
 <ZipInfo filename='epmxlfile2_5_b.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6744>,
 <ZipInfo filename='epmxlfile2_6_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=6593>,
 <ZipInfo filename='epmxlfile2_6_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6848>,
 <ZipInfo filename='epmxlfile2_7_a.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6059>,
 <ZipInfo filename='epmxlfile2_7_b.xls' compress_type=deflate external_attr=0x20 file_size=28160 compress_size=6154>,
 <ZipInfo filename='epmxlfile2_8_a.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=7005>,
 <ZipInfo filename='epmxlfile2_8_b.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=7231>,
 <ZipInfo filename='epmxlfile3_1.xls' compress_type=deflate external_attr=0x20 file_size=22016 compress_size=5126>,
 <ZipInfo filename='epmxlfile3_2.xls' compress_type=deflate external_attr=0x20 file_size=23552 compress_size=5626>,
 <ZipInfo filename='epmxlfile3_3.xls' compress_type=deflate external_attr=0x20 file_size=19456 compress_size=3943>,
 <ZipInfo filename='epmxlfile3_4.xls' compress_type=deflate external_attr=0x20 file_size=19456 compress_size=3938>,
 <ZipInfo filename='epmxlfile4_1.xls' compress_type=deflate external_attr=0x20 file_size=25088 compress_size=6599>,
 <ZipInfo filename='epmxlfile4_1_cont.xls' compress_type=deflate external_attr=0x20 file_size=25088 compress_size=6488>,
 <ZipInfo filename='epmxlfile4_2.xls' compress_type=deflate external_attr=0x20 file_size=22528 compress_size=5504>,
 <ZipInfo filename='epmxlfile4_2_cont.xls' compress_type=deflate external_attr=0x20 file_size=22528 compress_size=5473>,
 <ZipInfo filename='epmxlfile4_3.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=5751>,
 <ZipInfo filename='epmxlfile4_3_cont.xls' compress_type=deflate external_attr=0x20 file_size=23552 compress_size=5737>,
 <ZipInfo filename='epmxlfile4_4.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=5619>,
 <ZipInfo filename='epmxlfile4_4_cont.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=5651>,
 <ZipInfo filename='epmxlfile4_5.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=5686>,
 <ZipInfo filename='epmxlfile4_5_cont.xls' compress_type=deflate external_attr=0x20 file_size=23552 compress_size=5667>,
 <ZipInfo filename='epmxlfile4_6_a.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=6348>,
 <ZipInfo filename='epmxlfile4_6_b.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6569>,
 <ZipInfo filename='epmxlfile4_7_a.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6395>,
 <ZipInfo filename='epmxlfile4_7_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6612>,
 <ZipInfo filename='epmxlfile4_8_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=5647>,
 <ZipInfo filename='epmxlfile4_8_b.xls' compress_type=deflate external_attr=0x20 file_size=27648 compress_size=5943>,
 <ZipInfo filename='epmxlfile4_9_a.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6857>,
 <ZipInfo filename='epmxlfile4_9_b.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=6985>,
 <ZipInfo filename='epmxlfile4_10_a.xls' compress_type=deflate external_attr=0x20 file_size=23040 compress_size=5090>,
 <ZipInfo filename='epmxlfile4_10_b.xls' compress_type=deflate external_attr=0x20 file_size=23040 compress_size=5136>,
 <ZipInfo filename='epmxlfile4_11_a.xls' compress_type=deflate external_attr=0x20 file_size=23040 compress_size=5253>,
 <ZipInfo filename='epmxlfile4_11_b.xls' compress_type=deflate external_attr=0x20 file_size=23040 compress_size=5337>,
 <ZipInfo filename='epmxlfile4_12_a.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=4797>,
 <ZipInfo filename='epmxlfile4_12_b.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=4886>,
 <ZipInfo filename='epmxlfile4_13_a.xls' compress_type=deflate external_attr=0x20 file_size=23040 compress_size=5451>,
 <ZipInfo filename='epmxlfile4_13_b.xls' compress_type=deflate external_attr=0x20 file_size=22528 compress_size=5212>,
 <ZipInfo filename='epmxlfile4_14.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=5315>,
 <ZipInfo filename='epmxlfile4_15.xls' compress_type=deflate external_attr=0x20 file_size=24064 compress_size=5224>,
 <ZipInfo filename='epmxlfile4_16.xls' compress_type=deflate external_attr=0x20 file_size=24576 compress_size=5180>,
 <ZipInfo filename='epmxlfile4_17.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=4899>,
 <ZipInfo filename='epmxlfile4_18.xls' compress_type=deflate external_attr=0x20 file_size=25088 compress_size=5093>,
 <ZipInfo filename='epmxlfile5_1.xls' compress_type=deflate external_attr=0x20 file_size=25088 compress_size=5948>,
 <ZipInfo filename='epmxlfile5_2.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=5981>,
 <ZipInfo filename='epmxlfile5_3.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=5696>,
 <ZipInfo filename='epmxlfile5_4_a.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=7087>,
 <ZipInfo filename='epmxlfile5_4_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=7346>,
 <ZipInfo filename='epmxlfile5_5_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=6802>,
 <ZipInfo filename='epmxlfile5_5_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=7096>,
 <ZipInfo filename='epmxlfile5_6_a.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6644>,
 <ZipInfo filename='epmxlfile5_6_b.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6615>,
 <ZipInfo filename='epmxlfilea1_a.xls' compress_type=deflate external_attr=0x20 file_size=25088 compress_size=5628>,
 <ZipInfo filename='epmxlfilea1_b.xls' compress_type=deflate external_attr=0x20 file_size=25600 compress_size=5771>,
 <ZipInfo filename='epmxlfilea2_a.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=5895>,
 <ZipInfo filename='epmxlfilea2_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=5920>,
 <ZipInfo filename='epmxlfilea3_a.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=5949>,
 <ZipInfo filename='epmxlfilea3_b.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=5798>,
 <ZipInfo filename='epmxlfilea4_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=5994>,
 <ZipInfo filename='epmxlfilea4_b.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=5941>,
 <ZipInfo filename='epmxlfilea5_a.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6078>,
 <ZipInfo filename='epmxlfilea5_b.xls' compress_type=deflate external_attr=0x20 file_size=26624 compress_size=6005>,
 <ZipInfo filename='epmxlfilea6_a.xls' compress_type=deflate external_attr=0x20 file_size=20992 compress_size=4189>,
 <ZipInfo filename='epmxlfilea6_b.xls' compress_type=deflate external_attr=0x20 file_size=21504 compress_size=4321>,
 <ZipInfo filename='epmxlfilea7_a.xls' compress_type=deflate external_attr=0x20 file_size=21504 compress_size=4318>,
 <ZipInfo filename='epmxlfilea7_b.xls' compress_type=deflate external_attr=0x20 file_size=21504 compress_size=4304>,
 <ZipInfo filename='epmxlfilea8_a.xls' compress_type=deflate external_attr=0x20 file_size=22016 compress_size=4531>,
 <ZipInfo filename='epmxlfilea8_b.xls' compress_type=deflate external_attr=0x20 file_size=21504 compress_size=4491>,
 <ZipInfo filename='epmxlfileb1.xls' compress_type=deflate external_attr=0x20 file_size=32256 compress_size=8747>,
 <ZipInfo filename='epmxlfileb2.xls' compress_type=deflate external_attr=0x20 file_size=37888 compress_size=10695>,
 <ZipInfo filename='epmxlfilec1.xls' compress_type=deflate external_attr=0x20 file_size=21504 compress_size=4753>,
 <ZipInfo filename='epmxlfilec2.xls' compress_type=deflate external_attr=0x20 file_size=22016 compress_size=4893>,
 <ZipInfo filename='epmxlfilec3.xls' compress_type=deflate external_attr=0x20 file_size=24576 compress_size=6272>,
 <ZipInfo filename='epmxlfilec4.xls' compress_type=deflate external_attr=0x20 file_size=14848 compress_size=1937>,
 <ZipInfo filename='epmxlfilees1_a.xls' compress_type=deflate external_attr=0x20 file_size=27136 compress_size=7166>,
 <ZipInfo filename='epmxlfilees1_b.xls' compress_type=deflate external_attr=0x20 file_size=26112 compress_size=6963>,
 <ZipInfo filename='epmxlfilees2_a.xls' compress_type=deflate external_attr=0x20 file_size=22016 compress_size=4991>,
 <ZipInfo filename='epmxlfilees2_b.xls' compress_type=deflate external_attr=0x20 file_size=22016 compress_size=5030>,
 <ZipInfo filename='epmxlfilees3.xls' compress_type=deflate external_attr=0x20 file_size=46592 compress_size=11954>]

In [231]:
zipf.filelist[0].filename

'february2019/'

In [234]:
file = zipf.open('epmxlfile4_10_a.xls')

In [235]:
file = zipf.open('epmxlfile4_10_b.xls')

In [226]:
file = zipf.open('Table_4_10_A.xlsx')

KeyError: "There is no item named 'Table_4_10_A.xlsx' in the archive"

In [229]:
file = zipf.open(zipf.filelist[0].filename + 'Table_4_10_A.xlsx')

In [136]:
file = zipf.open('Table_4_10_B.xlsx')

In [181]:
from eia_epm import _read_state_month_excel

In [240]:
import eia_epm as epm

In [258]:
df = _read_state_month_excel(file, is_ytd=True)

In [259]:
df

                       Electric Power Sector Electric Utilities Independent Power Producers  is_revised yoy_pct_change
region      date
New England 2006-09-01                  2.71               2.62                        2.74        True            NaN
            2007-09-01                  2.79               2.81                        2.79       False            2.9
Connecticut 2006-09-01                     W                 --                           W        True            NaN
            2007-09-01                     W                 --                           W       False              W
Maine       2006-09-01                     W                 --                           W        True            NaN
...                                      ...                ...                         ...         ...            ...
Alaska      2007-09-01                    --                 --                          --       False             --
Hawaii      2006-09-01                     W                 --                           W        True            NaN
            2007-09-01                     W                 --                           W       False              W
U.S. Total  2006-09-01                  1.69               1.68                         1.7        True            NaN
            2007-09-01                  1.76               1.78                        1.72       False            4.1

[122 rows x 5 columns]

In [238]:
df = pd.read_excel(file, header=None)

In [239]:
df

                                                    0                      1     2               3                   4     5                            6     7
0   Table 4.10.B.  Average Cost of Coal Delivered ...                    NaN   NaN             NaN                 NaN   NaN                          NaN   NaN
1                           (Dollars per Million Btu)                    NaN   NaN             NaN                 NaN   NaN                          NaN   NaN
2                                     Census Division  Electric Power Sector   NaN             NaN  Electric Utilities   NaN  Independent Power Producers   NaN
3                                           and State                   2007  2006  Percent Change                2007  2006                         2007  2006
4                                         New England                   2.79  2.71             2.9                2.81  2.62                         2.79  2.74
..                                                ...                    ...   ...             ...                 ...   ...                          ...   ...
63                                             Hawaii                      W     W               W                  --    --                            W     W
64                                         U.S. Total                   1.76  1.69             4.1                1.78  1.68                         1.72   1.7
65    W = Withheld to avoid disclosure of individu...                    NaN   NaN             NaN                 NaN   NaN                          NaN   NaN
66    Notes: • See Glossary for definitions. • Val...                    NaN   NaN             NaN                 NaN   NaN                          NaN   NaN
67    Sources: Energy Information Administration, ...                    NaN   NaN             NaN                 NaN   NaN                          NaN   NaN

[68 rows x 8 columns]

In [246]:
epm._parse_dates_from_old_ytd_files(df)

{2007: Timestamp('2007-09-01 00:00:00'),
 2006: Timestamp('2006-09-01 00:00:00')}

In [242]:
df.iat[0,0]

'Table 4.10.B.  Average Cost of Coal Delivered for Electricity Generation by State, Year-to-Date through September 2007 and 2006'

In [247]:
df.loc[3,:].replace(epm._parse_dates_from_old_ytd_files(df))

0              and State
1    2007-09-01 00:00:00
2    2006-09-01 00:00:00
3         Percent Change
4    2007-09-01 00:00:00
5    2006-09-01 00:00:00
6    2007-09-01 00:00:00
7    2006-09-01 00:00:00
Name: 3, dtype: object

In [250]:
df[df[1].str.contains('Total').fillna(False)].index

Int64Index([], dtype='int64')

In [252]:
# get rid of header and footer (lengths change slightly over time)
first_value_idx = df[df[0].str.startswith("Census Division").fillna(False)].index[0]
last_value_idx = df[df[0].str.endswith("Total").fillna(False)].index[0]
df = df.loc[first_value_idx:last_value_idx, :]

In [253]:
assert df.iat[1,3] in {'Percent Change', 'Percentage Change'}
pct_change = df.iloc[2:, [0,3]].set_index(0).rename(columns={3: 'pct_change'})
df = df.drop(3, axis=1)  # drop percent change column

In [254]:
pct_change

              pct_change
0
New England          2.9
Connecticut            W
Maine                  W
Massachusetts          W
New Hampshire        9.8
...                  ...
Oregon               5.4
Washington             W
Alaska                --
Hawaii                 W
U.S. Total           4.1

[61 rows x 1 columns]

In [256]:
df[1].replace({})

2     Electric Power Sector
3                      2007
4                      2.79
5                         W
6                         W
              ...
60                     1.36
61                        W
62                       --
63                        W
64                     1.76
Name: 1, Length: 63, dtype: object

In [168]:
df2 = df.set_index(0)

In [172]:
isinstance(df2.iat[1,1], str)

False

In [173]:
if isinstance(df2.iat[1,1], str):
    dates = df2.iloc[1,:].str.replace(' YTD', '')
else:
    dates = df2.iloc[1,:]

cols = pd.MultiIndex.from_frame(pd.DataFrame({"sector": df2.iloc[0,:].fillna(method='ffill'), "date": pd.to_datetime(dates)}))
cols

MultiIndex([(      'Electric Power Sector', '2011-01-01'),
            (      'Electric Power Sector', '2010-01-01'),
            (         'Electric Utilities', '2011-01-01'),
            (         'Electric Utilities', '2010-01-01'),
            ('Independent Power Producers', '2011-01-01'),
            ('Independent Power Producers', '2010-01-01')],
           names=['sector', 'date'])

In [174]:
df2.columns = cols
df2 = df2.iloc[2:,:]

In [175]:
df2

sector        Electric Power Sector            Electric Utilities             \
date                     2011-01-01 2010-01-01         2011-01-01 2010-01-01
0
New England                    3.26       3.22               3.86        3.4
Connecticut                       W          W                 --         --
Maine                             W          W                 --         --
Massachusetts                     W       2.83                 --         --
New Hampshire                  3.86        3.4               3.86        3.4
...                             ...        ...                ...        ...
Oregon                         1.84       1.63               1.84       1.63
Washington                        W          W                 --         --
Alaska                            W          W               1.48       1.34
Hawaii                            W          W                 --         --
U.S. Total                     2.32       2.21               2.35        2.2

sector        Independent Power Producers
date                           2011-01-01 2010-01-01
0
New England                          3.16       3.18
Connecticut                             W          W
Maine                                   W          W
Massachusetts                           W       2.83
New Hampshire                          --         --
...                                   ...        ...
Oregon                                 --         --
Washington                              W          W
Alaska                                  W          W
Hawaii                                  W          W
U.S. Total                           2.25       2.22

[61 rows x 6 columns]

In [176]:
df2 = df2.stack(level=1)
df2

sector                 Electric Power Sector Electric Utilities  \
0           date
New England 2010-01-01                  3.22                3.4
            2011-01-01                  3.26               3.86
Connecticut 2010-01-01                     W                 --
            2011-01-01                     W                 --
Maine       2010-01-01                     W                 --
...                                      ...                ...
Alaska      2011-01-01                     W               1.48
Hawaii      2010-01-01                     W                 --
            2011-01-01                     W                 --
U.S. Total  2010-01-01                  2.21                2.2
            2011-01-01                  2.32               2.35

sector                 Independent Power Producers
0           date
New England 2010-01-01                        3.18
            2011-01-01                        3.16
Connecticut 2010-01-01                           W
            2011-01-01                           W
Maine       2010-01-01                           W
...                                            ...
Alaska      2011-01-01                           W
Hawaii      2010-01-01                           W
            2011-01-01                           W
U.S. Total  2010-01-01                        2.22
            2011-01-01                        2.25

[122 rows x 3 columns]

In [177]:
min_date = df2.index.get_level_values('date').min()
min_date

Timestamp('2010-01-01 00:00:00')

In [178]:
df2['is_revised'] = df2.index.get_level_values('date') == min_date

In [179]:
df2

sector                 Electric Power Sector Electric Utilities  \
0           date
New England 2010-01-01                  3.22                3.4
            2011-01-01                  3.26               3.86
Connecticut 2010-01-01                     W                 --
            2011-01-01                     W                 --
Maine       2010-01-01                     W                 --
...                                      ...                ...
Alaska      2011-01-01                     W               1.48
Hawaii      2010-01-01                     W                 --
            2011-01-01                     W                 --
U.S. Total  2010-01-01                  2.21                2.2
            2011-01-01                  2.32               2.35

sector                 Independent Power Producers  is_revised
0           date
New England 2010-01-01                        3.18        True
            2011-01-01                        3.16       False
Connecticut 2010-01-01                           W        True
            2011-01-01                           W       False
Maine       2010-01-01                           W        True
...                                            ...         ...
Alaska      2011-01-01                           W       False
Hawaii      2010-01-01                           W        True
            2011-01-01                           W       False
U.S. Total  2010-01-01                        2.22        True
            2011-01-01                        2.25       False

[122 rows x 4 columns]

In [208]:
df2

sector                 Electric Power Sector Electric Utilities Independent Power Producers  is_revised
0           date
New England 2010-01-01                  3.22                3.4                        3.18        True
            2011-01-01                  3.26               3.86                        3.16       False
Connecticut 2010-01-01                     W                 --                           W        True
            2011-01-01                     W                 --                           W       False
Maine       2010-01-01                     W                 --                           W        True
...                                      ...                ...                         ...         ...
Alaska      2011-01-01                     W               1.48                           W       False
Hawaii      2010-01-01                     W                 --                           W        True
            2011-01-01                     W                 --                           W       False
U.S. Total  2010-01-01                  2.21                2.2                        2.22        True
            2011-01-01                  2.32               2.35                        2.25       False

[122 rows x 4 columns]

In [210]:
pct_change['date'] = df2.index.get_level_values('date').max()
pct_change = pct_change.set_index('date', append=True)
pct_change.index = pct_change.index.rename({0: 'state'})

In [211]:
pct_change

                         pct_change
state         date
New England   2011-01-01        1.3
Connecticut   2011-01-01          W
Maine         2011-01-01          W
Massachusetts 2011-01-01          W
New Hampshire 2011-01-01       13.5
...                             ...
Oregon        2011-01-01       12.9
Washington    2011-01-01          W
Alaska        2011-01-01          W
Hawaii        2011-01-01          W
U.S. Total    2011-01-01          5

[61 rows x 1 columns]

In [212]:
pd.concat([df2, pct_change], axis=1)

                       Electric Power Sector Electric Utilities Independent Power Producers  is_revised pct_change
            date
New England 2010-01-01                  3.22                3.4                        3.18        True        NaN
            2011-01-01                  3.26               3.86                        3.16       False        1.3
Connecticut 2010-01-01                     W                 --                           W        True        NaN
            2011-01-01                     W                 --                           W       False          W
Maine       2010-01-01                     W                 --                           W        True        NaN
...                                      ...                ...                         ...         ...        ...
Alaska      2011-01-01                     W               1.48                           W       False          W
Hawaii      2010-01-01                     W                 --                           W        True        NaN
            2011-01-01                     W                 --                           W       False          W
U.S. Total  2010-01-01                  2.21                2.2                        2.22        True        NaN
            2011-01-01                  2.32               2.35                        2.25       False          5

[122 rows x 5 columns]